html {
  font-size: 20PX;
  font-size: 5.33333vw;
}
@media screen and (max-width: 320px) {
  html {
    font-size: 17.06667PX;
  }
}
@media screen and (min-width: 540px) {
  html {
    font-size: 28.8PX;
  }
}
